.home-container {
  text-align: center;
  padding: 2rem;
}

.home-banner {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 2rem;
}
.start-card {
  position: relative;
  height: 200px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.start-card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  height: 230px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.start-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.start-card p:not(.heading) {
  font-size: 14px;
}

.start-card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.start-card:hover::after {
  filter: blur(30px);
}

.start-card:hover::before {
  transform: scaleX(1.34) scaleY(0.77);
}